.paragraphStyles {
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 8px 8px 0px 0px;
    margin: 20px;
    min-height: 20vh;
    padding: 10px;
    font-size: 10vh;
    color:brown;
}
.buttonStyle{
    display:flexbox;
    min-height: 10vh;
    font-size: 5vh;
    font-weight: bolder;
    border-radius: 20px;
    box-shadow: 10px solid;
    padding: 10px;
    align-content: center;
    background-color: aquamarine;
}